<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>GestionnaireRp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	<servlet>
		<servlet-name>testServ</servlet-name>
		<servlet-class>com.sdzee.servlets.testServ</servlet-class>
	<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>InscriptionServlet</servlet-name>
		<servlet-class>com.sdzee.servlets.InscriptionServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ConnexionServlet</servlet-name>
		<servlet-class>com.sdzee.servlets.ConnexionServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ConnexionServlet</servlet-name>
		<url-pattern>/Connexion</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>InscriptionServlet</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>testServ</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
</web-app>